@import '../variables.scss';

.header_wrapper {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  font-family: $regular-font;
  font-size: $header-font-size;
}

nav {
  margin-left: 16px;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }

  li {
    position: relative;

    padding: 0 16px;
    text-decoration: none;
    color: $text-color;
    font-weight: 400;

    &:after {
      position: absolute;
      display: block;
      content: '';
      height: 2px;
      width: 0;
      left: 50%;
      margin-top: 30px;
      background-color: $primary-color;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
    }
    &:hover:after {
      color: $primary-color;
      width: 100%;
      left: 0;
    }
    &:hover {
      color: $primary-color;
    }
  }
}

.cart_block {
  display: flex;
  justify-content: space-between;

  .currency_icon {
    display: flex;
    justify-content: space-between;
    font-size: $regular-font-size;
    align-items: center;

    p {
      width: 12px;
      margin: 0 10px;
      align-self: center;
    }

    a {
      display: block;
      align-self: center;
      border-bottom: solid 1px #000000;
      border-right: solid 1px #000000;
      width: 4.25px;
      height: 4.25px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
  }

  .cart_icon {
    img {
      width: 20px;
      height: 20px;
      padding: 10px 0 0 22px;
    }
  }
}
