@import '../variables.scss';

header {
  padding: 28px 103px 32px 117px;
  display: flex;
  justify-content: space-between;
  font-family: $price-regular-font;
  font-size: $header-font-size;
}

nav {

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
  }

  a {
    display: block;
    padding: 0 16px;
    text-decoration: none;
    color: $text-color;
  }

  a:hover {
    color: $primary-color;
  }
}

.cart_block {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;

  .currency_icon {
    display: flex;
    justify-content: center;

  }
  .cart_icon {
     img {
    width: 20px;
    height: 20px;}
  }

}