@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+Pro&display=swap');

$primary-color: #5ece7b;
$text-color: #1d1f22;
$white-color: #ffffff;
$regular-font: 'Raleway', sans-serif;
$description-font: 'Roboto', sans-serif;
$item-size-font: 'Source Sans Pro', sans-serif;
$header-font-size: 16px;
$regular-font-size: 18px;
$page-heaging-size: 42px;
