@import './components/home';
@import './components/header.scss';
@import './components/productCard.scss';
@import './components/popUpCart';

*,
:after,
:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90vw;
  height: 100%;
  margin: 0 auto;
}
