@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&family=Roboto+Condensed&display=swap');


$primary-color: #5ece7b;
$text-color: #1d1f22;
$price-regular-font:'Raleway', sans-serif;
$description-font: 'Roboto', sans-serif;
$itemcard-sub-font: 'Roboto Condensed', sans-serif;
$header-font-size: 16px;